        /* Style de la KPI Card */
        .kpi-card {
            background-color:bisque;
            border:dimgray 3px solid ;
            border-radius: 5px;
            padding: 15px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
            margin: 10px;
            width: 250px;
        }
        
        .kpi-card h3 {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }
        
        .info {
            margin-bottom: 8px;
        }
        
        .label {
            font-weight: bold;
            color: #777;
        }
        
        .value {
            color: #333;
        }
        