.dashboard {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    font-family: Arial, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    background-color: #f27c0d;
}

.kpi-card {
    background-color: #f27c0d;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.kpi-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.kpi-value {
    font-size: 24px;
    font-weight: bold;
}

.rating {
    display: inline-block;
    unicode-bidi: bidi-override;
    color: #060606;
    font-size: 25px;
    height: 100px;
    width: auto;
    margin: 0;
    position: relative;
    padding: 0;
    background-color: transparent;
  }
  
  .rating-upper {
    color: #c52b2f;
    padding: 0;
    position: absolute;
    z-index: 1;
    display: flex;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
  }
  
  .rating-lower {
    padding: 0;
    display: flex;
    z-index: 0;
  }
  /* Your existing CSS styles */

.star {
    font-size: 2em; /* Adjust the font size to control the star size */
}

.star-large {
    font-size: 3em; /* Adjust the font size to control the larger star size */
}

.progress-bar{
    width:50px;
}
@media only screen and (max-width:552px) {
   .kpi-card-noteclient{
    height: 100%;
   }
   .kpi-card-etoile{
    height: 100%;
   }
}
@media only screen and (min-width:552px) {
    .kpi-card-noteclient{
     height: 50%;
    }
    .kpi-card-etoile{
        height: 50%;
    }
    
 }
 @media only screen and (min-width:552px) {
    
 }


/*
#ffffff
*/